* {
  padding: 0;
  box-sizing: border-box;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

#theme {
  display: none;
}
#theme:checked ~ * {
  filter: invert(1);
}

.App {
  width: 100%;
  min-height: 100vh;
  background: #F0F0F0;
}

.main {
  max-width: 1000px;
  width: 100%;
  min-height: 100vh;
  margin: auto;
}
.music_frame{
  height: 70px;
  transition: all 1s ease-out;
}
.music_frame:hover{
  background: white;
  height: 100vh;
  
}
.rhap_container {
  background: none !important;
  opacity: 0.98;
  box-shadow: none !important;
  
}
.underlay{
  -webkit-backdrop-filter: blur(10px);
    backdrop-filter: blur(10px);
    border-radius: 15px;
  position: absolute;
  height: 60px;
  width: 100vw;
}
.songplayerimage{
  position: absolute;
  left: 30px;
  bottom: 0.5rem;
  width: 45px;
  height: 45px;
  border-radius: 10px;
}

.songplayername{
  position: absolute;
  left: 80px;
  bottom: 0.5rem;
  height: 45px;
  
}
.songplayername p{
  margin:0;
  
}

.songplayerclose {
  position: absolute;
  right: 10px;
  z-index: 10;
  height: 20px;
  
}
.rhap_controls-section {
  margin-right: 80px;
}

.rhap_time {
  display:none;
}


.rhap_main-controls-button {
  color: black !important;
}
@media only screen and (max-width: 600px) {
  .rhap_controls-section{
    margin-right: 10px;
  }
}

.rhap_main-controls-button svg {
  width: 22px;
  height: 22px;
}
.rhap_progress-section {
  margin-bottom: -55px;
}
.rhap_progress-filled {
  background-color: #3373C4 !important;
}

.rhap_progress-indicator {
  display: none !important;
}


.rhap_button-clear.rhap_volume-button {
  color: black !important;
  
}

.rhap_volume-bar, .rhap_volume-indicator {
  background-color: black !important;
  
}

.rhap_forward-button, .rhap_rewind-button, .rhap_skip-button, .rhap_volume-button, .rhap_repeat-button{
  transform: scale(0.6);
  
}
@media only screen and (max-width: 600px) {
  .rhap_forward-button, .rhap_rewind-button, .rhap_skip-button, .rhap_volume-button, .rhap_repeat-button, .rhap_volume-bar, .rhap_volume-indicator, .rhap_button-clear.rhap_volume-button {
    display: none;
  }
}
/*
background-color: rgba(112,	128,144, 0.98) !important;


.rhap_container{
  background-image: url("https://img.freepik.com/free-photo/vivid-blurred-colorful-wallpaper-background_58702-3768.jpg?size=626&ext=jpg");
  box-shadow: none !important;
  
}

.rhap_play-pause-button{
  color: #ff0000 !important;
  transition: all 0.3s ease-in-out;
}

.rhap_play-pause-button:hover{
  transform: scale(1.2);
}

.rhap_forward-button, .rhap_rewind-button, .rhap_skip-button, .rhap_volume-button, .rhap_repeat-button{
  transition: all 0.3s ease-in-out;
}

.rhap_forward-button:hover, .rhap_rewind-button:hover, .rhap_skip-button:hover, .rhap_volume-button:hover, .rhap_repeat-button:hover{
  transform: scale(1.2);
  color : #555 !important;
}

.rhap_progress-filled{
  background-color: #ff0000 !important;
}

.rhap_progress-indicator, .rhap_volume-indicator{
  background: #b4b4b4  !important;
}

.rhap_progress-indicator:hover, .rhap_volume-indicator:hover{
  transform: scale(1.2);
}

.rhap_download-progress, .rhap_volume-bar{
  background-color: #ff000033 !important; 
}

..........


.rhap_container {
  background-color: #BEC3C6 !important;
  opacity:0.98 !important;
}

.rhap_controls-section {
  
}

.rhap_progress-section {
  
}

.rhap_main-controls-button {
  color: black !important;
}
.rhap_main-controls-button svg {
  color: ;
  width: 100%;
  height: 100%;
}
.rhap_progress-filled {
  background-color: blue !important;
}
.rhap_progress-indicator {
  background-color: transparent !important;
}

.rhap_button-clear.rhap_volume-button {
  color: black !important;
}

.rhap_volume-bar, .rhap_volume-indicator {
  background-color: red;
}
*/
img {
  object-fit: cover;
}

/* -------- AUTH ---------- */
@import url("./auth.css");

/* -------- LOADING ---------- */
@import url("./loading.css");

/* -------- Header ---------- */
@import url("./header.css");

/* -------- Avatar ---------- */
@import url("./avatar.css");

/* -------- Header ---------- */
@import url("./header.css");

/* -------- Profile ---------- */
@import url("./profile.css");

/* -------- Home ---------- */
@import url("./home.css");

/* -------- Status Modal ---------- */
@import url("./status_modal.css");

/* -------- Comments ---------- */
@import url("./comments.css");

/* -------- Post Thumb ---------- */
@import url("./post_thumb.css");

/* -------- Message---------- */
@import url("./message.css");

/* -------- Icons---------- */
@import url("./icons.css");

/* -------- Call Modal---------- */
@import url("./call_modal.css");



/* --------- Responsive ------ */
@media (max-width: 766px){
  .header .navbar .logo{
    display: none;
  }
  .header .menu{
      width: 100%;
      height: 40px;
  }
  .header .menu .navbar-nav{
      display: flex;
      justify-content: space-around;
      align-items: center;
  }
  
  .header .search_form{
      width: 100%;
  }
  .header .logo{
      margin: auto;
  }
  .header .logo h1{
      font-size: 1.5rem;
  }
  
  .message{
    height: calc(100vh - 100px);
  }
  .right_mess,
  .left_mess{
    display: none;
  }
  .status{
    padding: 20px 10px;
  }
}




.mode{
  width: 100%;
  height: 100vh;
  overflow: hidden;
}
.albumImagesList{
    width:150px;
    height:150px;
  }
  

@media (max-width: 1500px){
  .albumImagesList{
    width:125px;
    height:125px;
  }
}
@media (max-width: 600px){
  .albumImagesList{
    width:100px;
    height:100px;
  }
}


